@model AppProductList.Models.DeletedProductImg

@{
    ViewData["Title"] = "Видалити продукт";
}

<h1>@ViewData["Title"]</h1>

<h3>Ви справді хочете видалити цей продукт?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-1">
            @Html.Display("Images")
        </dt>
        <dd class="col-sm-9">
            <div class="col mb-3">
                <div class="row">
                    @foreach (var item in Model.productViewModels)
                    {
                        <img src="/images/@item.Name" class="col-md-2 mb-2 mt-2" />
                    }
                </div>
            </div>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Видалити продукт" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку продуктів</a>
    </form>
</div>