@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="offset-2 col-8">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <td scope="col">ID</td>
                    <td scope="col">@Localizer["Name"]</td>
                    <td scope="col">@Localizer["Price"]</td>
                    <td scope="col">@Localizer["Image"]</td>
                    <td scope="col">@Localizer["Action"]</td>
                </tr>
            </thead>
            <tbody>
                @await Component.InvokeAsync("Things")
            </tbody>

        </table>
        <h3>@Localizer["Message"]</h3>
    </div>
</div>